body {
            margin: 0;
            padding: 0;
        }

        .header {
            max-width: 100%;
            position: relative;
            height: 280px;
            background-image: url("michelle_pitzel-ship-952292_640.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;

        }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
            }
