body {
  margin-left: 200px;
  background: #5d9ab2 url("michelle_pitzel-ship-952292_640.jpg") no-repeat top left;
  font: "Courier New", Courier, monospace;
}

.center_div {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0f0f6;
  text-align: left;
  padding: 8px;
}
