body {
            margin: 0;
            padding: 0;
        }

        .header {
            position: relative;
            height: 270px;
            background-image: url("image_of_ship.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .navbar {
            border-radius: 0;
        }

        .nav-bottom {
            bottom: -270px;
        }
