body {
            margin: 0;
            padding: 0;
        }

        .header {
            position: relative;
            height: 270px;
            background-image: url("michelle_pitzel-ship-952292_640.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
img {
  max-width: 60%;
  height: auto;
}
        }

        .navbar {
            border-radius: 0;
        }

        .nav-bottom {
            bottom: -270px;
        }
