body {
  margin-left: 200px;
  background-color: #5d9ab2;
  font-family: "Lucida Console", "Courier New", monospace;
}

.center_div {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0f0f6;
  text-align: left;
  padding: 8px;
}

div.kuva {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  opacity: 0.5;
}

div.kuva:hover {
  border: 1px solid #777;
  opacity: 1.0;
}

div.kuva img {
  width: 100%;
  height: auto;
}
